 
:root{
    --white: #efefef;
    --campusGreen: #92c83e; 
}
body {
/*        margin: 0 auto;*/
/*        max-width: 56em;*/
        padding: 20px;
        background: var(--white); ; 
}
a{
    color: black;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 20px;
    align-items: center;
}
/*These are the panels*/
.module {
    /* Demo-Specific Styles */
    background: var(--campusGreen);
/*    background: rgba(255, 255, 255, 0.2);*/
    font-family: 'Roboto', sans-serif;
    border-radius: 3px;
/*
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-gap: 10px;
    
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
}
.module1{
    grid-column: 1/-1;
    height: 100px;
    background: var(--campusGreen);
    
}


/* The Modal (background) */
.modal {
    
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 90%; /* Could be more or less, depending on screen size */
    height: 100%;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

        
      
      
/*
    .albums {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      grid-gap: 20px;
    }

    .album {
      background: rgba(255, 255, 255, 0.2);
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      padding: 20px;
      display: grid;
      grid-template-columns: 150px 1fr;
      grid-gap: 10px;
      align-items: center;
      color: white;
      font-weight: 100;
    }

    .album__artwork {
      width: 100%;
    }
*/